<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <!--<link rel="stylesheet" href="{% static "lists/css/bootstrap.min.css" %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lists/css/style.css' %}">
</head>
<body>

{% if messages %}
<div class="container top-messages-container">
    <div class="row">
        <div class="com-md-9">
            <ul class="top-messages-list">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="com-md-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!--<script src="{% static "lists/js/bootstrap.min.js" %}"></script>-->
<script src="{% static 'lists/js/jquery.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}
</body>
</html>