{% extends "lists/base.html" %}
{% block title %}Dédoubler les morceaux{% endblock %}

{% block content %}

<form method="post" target="/deduplicate/">
    {% csrf_token %}
    <input type="submit" class="btn btn-main" value="Dédoubler">
    <div class="col-md-4">
        <p class="h2">Playlists à dédoubler</p>
        <fieldset>
            <div class="list-group">
                {% for playlist in playlists %}
                    <input type="radio" name="playlist_id" value="{{ playlist.id }}" id="Radio{{ playlist.id }}" />
                    <label class="list-group-item" for="Radio{{ playlist.id }}">{{ playlist.name }}</label>
                {% endfor %}
            </div>
        </fieldset>
    </div>
</form>

{% endblock %}

{% block scripts %}

{% endblock %}