{% extends "lists/base.html" %}
{% block title %}Spotilist{% endblock %}

{% block content %}
<h2>Spotilist</h2>

<p>
    <a href="/playlists/">Fusionner mes playlists Spotify</a><br>
    <a href="/playlists_unduplicate/">Dédoublonner mes playlists Spotify</a>
</p>

{% endblock %}