{% extends "lists/base.html" %}
{% block title %}Fusion des playlists{% endblock %}

{% block content %}

<form method="post" target="/merge/">
    {% csrf_token %}
    <input type="submit" class="btn btn-main" value="Fusionner">
    <div class="col-md-4">
        <p class="h2">Playlists à fusionner</p>
        <fieldset id="from">
            <div class="list-group">
                {% for playlist in playlists %}
                    <input type="radio" name="from" value="{{ playlist.id }}" id="Radio{{ playlist.id }}" />
                    <label class="list-group-item" for="Radio{{ playlist.id }}">{{ playlist.name }}</label>
                {% endfor %}
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <p class="h2">Dans la playlist</p>
        <fieldset id="to">
            <div class="list-group">
                {% for playlist in playlists %}
                    <input type="radio" name="to" value="{{ playlist.id }}" id="Radio2{{ playlist.id }}" />
                    <label class="list-group-item" for="Radio2{{ playlist.id }}">{{ playlist.name }}</label>
                {% endfor %}
            </div>
        </fieldset>
    </div>
</form>

{% endblock %}

{% block scripts %}

{% endblock %}